<a href="https://colab.research.google.com/github/EdCarlosBicudo/microdados_enem_2019/blob/main/notebooks/1_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
dados = pd.read_csv("/content/drive/MyDrive/dados/microdados_1.csv", sep=";", encoding ='latin1')

In [13]:
dados.shape

(999999, 136)

In [14]:
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001595656    2019                  3552205  ...    A     C    B
1  190001421546    2019                  2910800  ...    A     A    B
2  190001133210    2019                  2304400  ...    A     A    B
3  190001199383    2019                  1721000  ...    A     B    B
4  190001237802    2019                  3118601  ...    B     B    B

[5 rows x 136 columns]

In [15]:
colunas_para_dropar = ['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'CO_MUNICIPIO_NASCIMENTO', 
                       'CO_UF_NASCIMENTO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'CO_UF_ESC', 'IN_SEM_RECURSO', 'IN_BRAILLE', 
                       'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR','IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 
                       'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA',
                       'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO', 
                       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 
                       'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 
                       'IN_SONDA', 'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE',
                       'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA', 
                       'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN', 
                       'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 
                       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT'
]

In [16]:
dados.drop(colunas_para_dropar, axis=1, inplace=True)

In [8]:
dados.shape

(999999, 74)

In [17]:
novas_colunas = {'NO_MUNICIPIO_RESIDENCIA': 'MUNICIPIOR ESISDENCIA',
                'SG_UF_RESIDENCIA': 'UF RESIDENCIA',
                'NU_IDADE': 'IDADE',
                'TP_SEXO': 'SEXO',
                'TP_ESTADO_CIVIL': 'ESTADO CIVIL',
                'TP_COR_RACA': 'COR',
                'TP_NACIONALIDADE': 'NACIONALIDADE',
                'NO_MUNICIPIO_NASCIMENTO': 'MUNICIPIO NASCIMENTO',
                'SG_UF_NASCIMENTO': 'UF NASCIMENTO',
                'TP_ST_CONCLUSAO': 'CONCLUSAO ENSINO MEDIO',
                'TP_ANO_CONCLUIU': 'ANO CONCLUSAO ENSINO MEDIO',
                'TP_ESCOLA': 'TIPO ESCOLA',
                'TP_ENSINO': 'TIPO ENSINO',
                'IN_TREINEIRO': 'TREINAR',
                'NO_MUNICIPIO_ESC': 'MUNICIPIO ESCOLA',
                'SG_UF_ESC': 'UF ESCOLA',
                'TP_DEPENDENCIA_ADM_ESC': 'DEPENDENCIA ADMINISTRATIVA',
                'TP_LOCALIZACAO_ESC': 'LOCALIZACAO ESCOLA',
                'TP_SIT_FUNC_ESC': 'SITUCACAO ESCOLA',
                'IN_BAIXA_VISAO': 'BAIXA VISAO',
                'IN_CEGUEIRA': 'CEGUEIRA',
                'IN_SURDEZ': 'SURDEZ',
                'IN_DEFICIENCIA_AUDITIVA': 'DEFICIENCIA AUDITIVA',
                'IN_SURDO_CEGUEIRA': 'SURDO CEGO',
                'IN_DEFICIENCIA_FISICA': 'DEFICIENCIA FISICA',
                'IN_DEFICIENCIA_MENTAL': 'DEFICIENCIA MENTAL',
                'IN_DEFICIT_ATENCAO': 'DEFICT DE ATENCAO',
                'IN_DISLEXIA': 'DISLEXIA',
                'IN_DISCALCULIA': 'DISCALCULIA',
                'IN_AUTISMO': 'AUTISMO',
                'IN_VISAO_MONOCULAR': 'VISAO MONOCULAR',
                'IN_OUTRA_DEF': 'OUTRA DEFICIENCIA',
                'IN_GESTANTE': 'GESTANTE',
                'IN_LACTANTE': 'LACTANTE',
                'IN_IDOSO': 'IDOSO',
                'IN_ESTUDA_CLASSE_HOSPITALAR': 'ENTUDA CLASSE HOSPITALAR',
                'NO_MUNICIPIO_PROVA': 'MINICIPIO PROVA',
                'SG_UF_PROVA': 'UF PROVA',
                'NU_NOTA_CN': 'NOTA CIENCIAS DA NATUREZA',
                'NU_NOTA_CH': 'NOTA CIENCIAS HUMANAS',
                'NU_NOTA_LC': 'NOTA LINGUAGENS E CODIGOS',
                'NU_NOTA_MT': 'NOTA MATEMATICA',
                'TP_STATUS_REDACAO': 'SITUACAO DAREDACAO',
                'NU_NOTA_COMP1': 'NOTA COMPETENCIA 1',
                'NU_NOTA_COMP2': 'NOTA COMPETENCIA 2',
                'NU_NOTA_COMP3': 'NOTA COMPETENCIA 3',
                'NU_NOTA_COMP4': 'NOTA COMPETENCIA 4',
                'NU_NOTA_COMP5': 'NOTA COMPETENCIA 5',
                'NU_NOTA_REDACAO': 'NOTA REDACAO',
                'Q001': 'SERIE ESTUDO PAI',
                'Q002': 'SERIE ESTUDO MAE',
                'Q003': 'OCUPACAO PAI',
                'Q004': 'OCUPACAO MAE',
                'Q005': 'MORADORES NA RESIDENCIA',
                'Q006': 'RENDA FAMILIAR',
                'Q007': 'EMPREGADO DOMESTICO',
                'Q008': 'BANHEIRO',
                'Q009': 'QUARTOS',
                'Q010': 'CARRO',
                'Q011': 'MOTOCICLETA',
                'Q012': 'GELADEIRA',
                'Q013': 'FREEZER',
                'Q014': 'MAQUINA DE LAVAR',
                'Q015': 'MAQUINA DE SECAR',
                'Q016': 'MICRO-ONDAS',
                'Q017': 'MAQUINA DE LAVAR LOUCA',
                'Q018': 'ASPIRADOR DE PO',
                'Q019': 'TV COLORIDA',
                'Q020': 'DVD',
                'Q021': 'TV POR ASSINATURA',
                'Q022': 'TELEFONE CELULAR',
                'Q023': 'TELEFONE FIXO',
                'Q024': 'COMPUTADOR',
                'Q025': 'INTERNET',}

In [18]:
dados.rename(columns=novas_colunas, inplace=True)

In [19]:
dados.head()

  MUNICIPIOR ESISDENCIA UF RESIDENCIA  IDADE  ... TELEFONE FIXO  COMPUTADOR  INTERNET
0              Sorocaba            SP   36.0  ...             A           C         B
1      Feira de Santana            BA   23.0  ...             A           A         B
2             Fortaleza            CE   39.0  ...             A           A         B
3                Palmas            TO   25.0  ...             A           B         B
4              Contagem            MG   22.0  ...             B           B         B

[5 rows x 74 columns]

In [21]:
dados.to_csv('dados_limpos_1.csv')